<div class="splash-container">
    <div class="section">
        <h1 class="section-title"> {{title}}</h1>
        <div class="section-subtitle">
            <div class="section-subtitle-img"><img style="border-radius: 40%;" height="200px" src="../../../assets/img/me.jpg" alt="Me!"></div>
            <div class="section-subtitle-text">
                <p>{{subtitle}}</p>
                <p>{{resume}}</p> <br>
                <p>{{content}}</p> <br>
                
                <h4 class="section-subtitle-text-title">Currently skills:</h4>
                <div class="section-subtitle-text-icons">
                    <img src="../../../assets/img/html.png" alt="html">
                    <img src="../../../assets/img/css.png" alt="css">
                    <img src="../../../assets/img/sass.png" alt="sass">
                    <img src="../../../assets/img/js.png" alt="javascript">
                    <img src="../../../assets/img/ts.png" alt="typescript">
                    <img src="../../../assets/img/jquery.png" alt="jquery">
                    <img src="../../../assets/img/react.png" alt="reactjs">
                    <br>
                    <img src="../../../assets/img/angular.png" alt="angularjs">
                    <img src="../../../assets/img/mysql.png" alt="mysql">
                    <img src="../../../assets/img/mongo.png" alt="mongodb">
                    <img src="../../../assets/img/php.png" alt="php">
                    <img src="../../../assets/img/laravel.png" alt="laravel">
                    <img src="../../../assets/img/symfony.png" alt="symfony">
                    <img src="../../../assets/img/docker.png" alt="docker">
                </div>
            </div>          
        </div>
        <div class="clear-both">
			<a [routerLink]="['/home']" class="pure-button pure-button-primary">Back to Home</a>
        </div>
    </div>
</div>